body {
    background-color: #0a0a0a;
    color: #e5e7eb;
}

input, textarea, select {
    color: #e5e7eb;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #374151 inset !important;
    -webkit-text-fill-color: #e5e7eb !important;
}

.table-container {
    overflow-x: auto;
}
